.slider-control-bottomcenter ul {
    top: 5px !important;
}

.slider-control-bottomcenter ul button {
    color: white !important;
}

.slider-frame {
    height: 100% !important;
}

.slider-list {
    height: 100% !important;
}

.slider-slide {
    height: 100% !important;
}

.slider-slide > img {
    height: 100% !important;
    object-fit: cover;
}